doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  body.container-fluid.pt-1
  
    nav.navbar.row.mr-0.ml-0.w-100
      a(href="/").col-2
        img(src="images/logo.png", alt="logo").nav-logo
      h3.col-3 Portfolio<span class="dollar-sign">$</span>

    block content
