extends layout

block content
    h3.text-center= title
    .col-12.text-center
        .row.text-center.p-1
            label.col-3 Email:
            input(type="text" placeholder="jDoe@email.com").col-3
        .row.text-center.p-1
            label.col-3 Password:
            input(type="password" placeholder="********").col-3

