.featured-container {
    display: grid;
    grid-gap: 1rem;
    max-width: $container-width;
    margin: 0 auto;
    @include bp(med) {
      grid-template-columns: repeat(3, minmax(220px, auto));
      justify-items: stretch;
    }
    &__item {
      background: rgb(51, 92, 207);
    }
  }
  
  .featured-stock {
    padding: 1em;
  
    &__name {
      font-weight: 500;
      color: black;
    }
    &__price {
      font-size: 3.2rem;
      font-weight: 700;
    }
    &__change {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }
  